# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [ ]:
# 3.14
# Select an option NoneType int float bool
a = 3.14
print((a), ",", int(a), ",", float(a), ",", bool(a))

# Answer = float

In [ ]:
# -34
# Select an option NoneType int float bool
a = -34
print((a), ",", int(a), ",", float(a), ",", bool(a))

# Answer = int

In [ ]:
# True
# Select an option NoneType int float bool
a = True
print((a), ",", int(a), ",", float(a), ",", bool(a))

# Answer = bool

In [ ]:
# None
# Select an option NoneType int float bool

# Answer = NoneType

In [ ]:
# 3.0
# Select an option NoneType int float bool
a = 3.0
print((a), ",", int(a), ",", float(a), ",", bool(a))

# Answer = float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [ ]:
# Write the answers below
False
True
False
False
True
# True and False
False
# Flase or False
False
# not Flase
True

#(3.0 - 1.0) !=(5.0-3.0)
False

In [ ]:
3 > 4 or (2 < 3 and 9 > 10)

In [ ]:
4 > 5 or 3 < 4 and 9 > 8

In [ ]:
not(4 > 3 and 100 > 6)

In [ ]:
c = 3 > 4

if c == True:
    message = 'True statement'
else:
    message = 'False statement'

print(message)

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [ ]:
# Answer = 5

Ouput ??
```
b = 10
c = b > 9
c
```

In [ ]:
# Answer = True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [ ]:
abc
bcbcbc
TypeError
c
Ab
Ab
cd

# "a" + "bc" #abc

# 3 * "bc" #bcbcbc

# "3" * "bc"

# "Abcd"[2] c

# "Abcd"[0:2] Ab

# "Abcd"[ :2 ] Ab

# "Abcd"[2:] cd

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [ ]:
- str1[0] = h
- Str1[1] = NameError
- str1[-1] = o
- len(str1) = 5
- str1[ len(str1)-1 ] = o
- str1[-1 : len(str1)-1 ] = ''
- str1 + str2 + str3 = hello,world
- str1 + str2 + ' ' + str3 = hello, world
- str3 * 3 = worldworldworld
- 'hello' == str1 = True
- 'HELLO' == str1 = False
- 'a' in str3 = False

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [ ]:
str4 = 'helloworld' = helloworld
low' in str4 = True
str3[1:3] = or
str3[:3] = wor
[str3:-1] = SyntaxError
str1[1:] = ello
str4[1:9] = elloworl
str4[9:1:2] = ''
Str4[::-1] = NameError

In [ ]:
str4[::-1] # Reverse syntax

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [ ]:
# Answer = Nothing....

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [ ]:
# Answer = Nope

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [ ]:
# Answer = Regal!

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [ ]:
# Answer = Hot

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [ ]:
# Answer = Cold

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [ ]:
## Answer:

5
# num = num - 1
4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [1]:
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

0
1
2
3
4
5
Outside of loop
6

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [ ]:
# Answer = None... (infinte loop case)

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [2]:
num = 10
while num > 3:
   print(num)
   num -= 1

10
9
8
7
6
5
4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [3]:
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')

10
9
8
7
Breaking out of loop
Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [ ]:
# Answer = An infinite loop

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [4]:
def sum_of_n_numbers(n):
    acc = 0
    for i in range(1, n+1):
        acc +=i
    return acc

def sum_of_n_numbers_while(n):
    acc = 0
    index = 0
    while index <= n:
        acc += index
        index += 1
    return acc



    # ... # also means Pass
sum_of_n_numbers(10) == sum_of_n_numbers_while(10)

True

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [5]:
index = 2
while index <=10:
    print(index)
    index += 2

print("Goodbye!")

2
4
6
8
10
Goodbye!

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [7]:
index = 10

print("Hello!")
while index >=2:
    print(index)
    index -= 2

Hello!
10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [8]:
num = 10
for num in range(5):
 print(num)
print(num)

0
1
2
3
4
4

In [9]:
divisor = 2
for num in range(0, 10, 2):
 print(num/divisor)

0.0
1.0
2.0
3.0
4.0

In [10]:
for variable in range(20):
 if variable % 4 == 0:
     print(variable)
 if variable % 16 == 0:
     print('Foo!')

0
Foo!
4
8
12
16
Foo!

In [11]:
for letter in 'hola':
 print(letter)

h
o
l
a

In [12]:
count = 0
for letter in 'Snow!':
 print('Letter # ' + str(count) + ' is ' + str(letter))
 count += 1
 break
print(count)

Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [ ]:
## Outputs...

In [13]:
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'
animals

{'a': 'aardvark', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

In [14]:
get.animals('donkey')

NameError: name 'get' is not defined

In [15]:
len(animals)

4

In [16]:
animals['a'] = 'anteater'
animals

{'a': 'anteater', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

In [17]:
len(animals['a'])

8

In [18]:
'baboon' in animals

False

In [19]:
'baboon' in animals.values()

False

In [20]:
'b' in animals

True

In [21]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [22]:

len(animals)

4

In [23]:
list(animals.values())[0]

'anteater'

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [ ]:
1
(3,'John',4)
Hi
4
4
i
Error 
1

len(x) = 4
2
None
Error

In [24]:
x = (1, 2, (3, 'John', 4), 'Hi')
x[-1][2]

IndexError: string index out of range

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [25]:
s = 'azcbobobegghakl'

count = 0
for char in s:
    if char in ['a','e','i','o','u']:
        count +=1
        
print(count)

5

In [31]:
s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')

5

In [27]:
list(map(str.capitalize, ["hello" , "world"]))

['Hello', 'World']

In [28]:
list(map(s.count,['a','e','i','o','u'] ))

[2, 1, 0, 2, 0]

In [29]:
sum(map(s.count,['a','e','i','o','u'] ))

5

In [30]:
def mymap(func,collection):
    return [func(item) for item in collection]
sum(mymap(s.count,['a','e','i','o','u'] ))

5